".source.js, .source.jsx, .source.ts":
  "expect().toBeGreaterThan()":
    "prefix": "toBeGreaterThan"
    "body": """
      expect(${1:value}).toBeGreaterThan(${2:value});
      """
  "expect().toBeGreaterThan()":
    "prefix": "tbgt"
    "body": """
      expect(${1:value}).toBeGreaterThan(${2:value});
      """
